In [6]:
import pandas as pd

In [8]:
df = pd.read_excel('../dat/DataForTable2.1WHR2023.xls')
df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092
2,Afghanistan,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919

In [9]:
# Make a list of countries in the data base
countries_col = df["Country name"]
countries = []

for country in countries_col:
  if country not in countries:
     countries.append(country)
'''
has_duplicates = len(countries) != len(set(countries))
print(has_duplicates)
'''
print("Number of countries: "+ str(len(countries)))

Number of countries: 165

In [10]:
# Get all years in the data base
years_col = df["year"]
years = []

for year in years_col:
  if year not in years:
    years.append(year)
years.sort()

print(years)
print(len(years))

[2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
18

In [11]:
# Make an empty data base for each feature (countries as rows and years as col)
ladder_df = pd.DataFrame(index=countries, columns=years)
gdp_df = pd.DataFrame(index=countries, columns=years)
social_sup_df = pd.DataFrame(index=countries, columns=years)
corruption_df = pd.DataFrame(index=countries, columns=years)
life_choices_df = pd.DataFrame(index=countries, columns=years)
generosity_df = pd.DataFrame(index=countries, columns=years)

# Make a feature dict for each country (year:value)
for country in countries:
    df_country = df[df["Country name"] == country]
    ladder = {row["year"]: row["Life Ladder"] for index, row in df_country.iterrows()}
    gdp = {row["year"]: row["Log GDP per capita"] for index, row in df_country.iterrows()}
    social_sup = {row["year"]: row["Social support"] for index, row in df_country.iterrows()}
    corruption = {row["year"]: row["Perceptions of corruption"] for index, row in df_country.iterrows()}
    life_choices = {row["year"]: row["Freedom to make life choices"] for index, row in df_country.iterrows()}
    generosity = {row["year"]: row["Generosity"] for index, row in df_country.iterrows()}

    # Fill each feature data frame
    for i in ladder:
      value = ladder[i]
      ladder_df.at[country,i] = value

    for i in gdp:
      value = gdp[i]
      gdp_df.at[country,i] = value

    for i in social_sup:
      value = social_sup[i]
      social_sup_df.at[country,i] = value

    for i in corruption:
      value = corruption[i]
      corruption_df.at[country,i] = value

    for i in life_choices:
      value = life_choices[i]
      life_choices_df.at[country,i] = value

    for i in generosity:
      value = generosity[i]
      generosity_df.at[country,i] = value

In [12]:
# export data frames to excel files
excel_file_path1 = 'Life_Ladder.xlsx'
excel_file_path2 = './GDP.xlsx'
excel_file_path3 = './Social_Support.xlsx'
excel_file_path4 = './Corruption.xlsx'
excel_file_path5 = './Life_Choices.xlsx'
excel_file_path6 = './Generosity.xlsx'

ladder_df.to_excel(excel_file_path1, index=True)
gdp_df.to_excel(excel_file_path2, index=True)
social_sup_df.to_excel(excel_file_path3, index=True)
corruption_df.to_excel(excel_file_path4, index=True)
life_choices_df.to_excel(excel_file_path5, index=True)
generosity_df.to_excel(excel_file_path6, index=True)